doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magical!
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed accumsan nulla, eget aliquam erat. Aenean sed rhoncus nunc. Praesent ut faucibus sem, et pulvinar nibh. Proin ultricies mi nec magna tempus porta. Nunc eu elementum elit, quis pharetra dolor. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Donec consectetur est metus, et maximus velit posuere vel. Nam aliquet ex tellus, non condimentum odio vestibulum non. Quisque feugiat ornare elit. Phasellus dolor purus, facilisis vel maximus non, maximus ultrices nibh. Praesent ac lobortis orci, tempus posuere mi. Duis pulvinar est eu diam semper vestibulum.